.container {
  margin:25px 0;
}

.userInfo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    padding: 10px 0;
  
    font-weight: bold;
    font-size: 1.2rem;
  
    color: #fff;
    background-image: linear-gradient(to left, #AC3B61, #BAB2B5);
    border: transparent;
    border-radius: 10px;
  
    transition: transform 300ms ease-in-out;
  
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  p{
      margin: 0;
  }
