.form{
    margin-top: 100px;
    margin-left: 20%;
    
    display:flex;
    flex-direction: column;
    }
    
    .button {
        width: 200px;
        padding: 10px 0;
        margin: 25px 0 25px 0;
      
        font-weight: bold;
        font-size: 1.2rem;
      
        color: #fff;
        background-image: linear-gradient(to left, #AC3B61, #BAB2B5);
        border: transparent;
        border-radius: 10px;
      
        transition: transform 300ms ease-in-out;
      
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
      }
    
      .table {
          margin-top: 50px;
        width: 100%;
        margin-bottom: 20px;
        border: 5px solid #fff;
        border-top: 5px solid #fff;
        border-bottom: 3px solid #fff;
        border-collapse: collapse; 
        outline: 3px solid #BAB2B5;
        font-size: 15px;
        background: #fff!important;
    }
    .table th {
        font-weight: bold;
        padding: 7px;
        background: #BAB2B5;
        border: none;
        text-align: left;
        font-size: 15px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #BAB2B5;
    }
    .table td {
        padding: 7px;
        border: none;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        font-size: 15px;
    }
    .table tbody tr:nth-child(even){
        background: #f8f8f8!important;
    }