.container {
  width: 300px;
  margin: 0 auto 0 auto;
}


.link {
    color: #123C69;
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.input {
  padding: 10px 10px;

  color: #123C69;
  background-color:transparent;
  border: 2px solid #123C69;
  border-radius: 10px;

  transition: 300ms;

  &::placeholder {
    color: #123C69;
  }

  &:focus {
    border: 2px solid #AC3B61;
    outline: none;
  }
}

.button {
  width: 100%;
  padding: 10px 0;
  margin: 25px 0 25px 0;

  font-weight: bold;
  font-size: 1.2rem;

  color: #fff;
  background-image: linear-gradient(to left, #AC3B61, #BAB2B5);
  border: transparent;
  border-radius: 10px;

  transition: transform 300ms ease-in-out;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
