body {
  margin: 0;
  font-family: 'Roboto';
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #EEE2DC;
  color: #123C69;
}

.container {
  position: relative;

  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 16px 100px 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px 30px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
  }
}
